<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day10</title>
</head>
<body>
    <h1>Hello from EJS </h1>
    <a href="/page2?name=Thanaphat&age=27">Go to page2</a>
    
</body>
</html>
